{% extends 'base.html.twig' %}

{% block title %}Edit Invites{% endblock %}

{% block body %}
    <h1>Edit Invites</h1>

    {{ include('invites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_invites_index') }}">back to list</a>

    {{ include('invites/_delete_form.html.twig') }}
{% endblock %}
